// TODO: Css is a bit of a mess, needs tyding and documentation

.bar_visible_true {
  border: 4px solid $lavender;
  background-color: $base;
}
.bar_visible_false {
  all: unset;
}

.os_icon {
  font-size: 35 * $dpi-scale;
}

.workspace {
  font-size: 25 * $dpi-scale;
  .oc0 {
    color: $surface0;
  }
  .oc1 {
    color: $overlay1;
  }
  .foc1 {
    color: $lavender;
    font-size: 30 * $dpi-scale;
  }
}

.battery {
  font-size: 20 * $dpi-scale;
  .label {
    background-color: rgba(0, 0, 0, 0);
  }
  .bolt {
    background-color: rgba(0, 0, 0, 0);
    font-size: 9 * $dpi-scale;
    margin-top: 2 * $dpi-scale;
  }
  .bolt-black {
    color: $base;
  }
  .bolt-white {
    color: $text;
  }
  .scale {
    background-color: rgba(0, 0, 0, 0);
  }
  scale trough {
    all: unset;
    min-height: 5px * $dpi-scale;
    min-width: 10px * $dpi-scale;
    margin-top: 2px * $dpi-scale;
    margin-left: 2.5px * $dpi-scale;
    margin-right: 2.5px * $dpi-scale;
  }
  scale trough highlight {
    all: unset;
    color: #000000;
    background-color: $text;
  }
}

.time {
  font-size: 25 * $dpi-scale;
  font-weight: bold;
  .divider {
    color: $surface0;
    font-size: 7 * $dpi-scale;
  }
}

.system_tray {
  font-size: 25 * $dpi-scale;
}
.circular_tracker {
  .progress0 {
    color: $green;
  }
  .progress1 {
    color: $yellow;
  }
  .progress2 {
    color: $peach;
  }
  .progress3 {
    color: $red;
  }
  .label {
    background-color: rgba(0, 0, 0, 0);
    font-size: 13 * $dpi-scale;
  }
}

.power_menu {
  font-size: 20 * $dpi-scale;
  .button {
    background-color: $base;
    border-radius: 50%;
    border: 2 * $dpi-scale solid $base;
  }
  .button:hover {
    background-color: $base;
    color: $overlay0;
    border-color: $surface0;
  }
  .label {
    background-color: rgba(0, 0, 0, 0);
  }
  .shutdown {
    color: $red;
  }
  .reboot {
    color: $peach;
  }
  .logout {
    color: $lavender;
  }
}
