#!/bin/bash
# vim:filetype=bash

{{ if eq .chezmoi.osRelease.id "void" }}

cd ~
git clone --depth=1 https://github.com/void-linux/void-packages
cd void-packages
./xbps-src binary-bootstrap
echo XBPS_ALLOW_RESTRICTED=yes >> etc/conf

{{ end }}
