#!/bin/fish
# vim:ft=fish

# Run whenever applying in a new OS
# {{ .chezmoi.osRelease.id }}

# Set fish as default shell
sudo chsh -s /bin/fish $USER
export SHELL=/bin/fish

# Set some fish vars
set -Ux EDITOR nvim
set -Ux XDG_CONFIG_HOME $HOME/.config/
set -Ux LS_COLORS "$(cat $HOME/.config/exa/lscolors_catppuccin)"
set -Ux FZF_DEFAULT_OPTS "\
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

# Install fisher
curl -sL https://git.io/fisher | source && fisher update
