#!/bin/fish
# vim:filetype=fish

# Re-run on every new distribution: {{.chezmoi.osRelease.id}}

# Copy configs to the right place:
sudo mkdir -p /etc/X11/xorg.conf.d/
sudo cp $HOME/.config/xorg/* /etc/X11/xorg.conf.d/
