#!/bin/bash
# vim:filetype=bash:foldmethod=marker:fmr=<<<,>>>

{{ if eq .chezmoi.osRelease.id "void" }}

# ━━━━━━━━━━━━━━━━━━━━━━━━━ VOID PACKAGES ━━━━━━━━━━━━━━━━━━━━━━━━━

# Desktop Environment packages <<<
sudo xbps-install -y \
	xorg-minimal xorg-fonts xorg-server xorg-apps xorg-input-drivers xorg-video-drivers \
	xclip \
	xdotool \
	picom \
    bspwm \
    sxhkd \
    rofi \
    kitty \
    fish-shell \
    feh \
	dunst \
	maim
# >>>

# Useful programs <<<
sudo xbps-install -y \
    firefox \
    Thunar \
	zathura zathura-cb zathura-djvu zathura-pdf-mupdf zathura-ps
# Build source packages conditionally, seperately
if ! xbps-query spotify >&/dev/null; then
	$HOME/void-packages/xbps-src pkg spotify
	sudo xbps-install -y --repository=$HOME/void-packages/hostdir/binpkgs/nonfree spotify
fi
# >>>

# Useful CLI programs <<<
sudo xbps-install -y \
    curl \
    git \
    neovim \
	up \
	bottom \
	exa \
	renameutils \
	entr \
	zoxide \
	fzf \
	bat \
	rbw \
	p7zip \
	jrnl \
	transmission \
	brightnessctl
#TODO: Add organize-rt?
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
if ! command -v spicetify >&/dev/null; then
	curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-cli/master/install.sh | sh
fi
# >>>

# Programming Languages <<<
sudo xbps-install -y \
	base-devel \
	bzip2-devel \
	openssl openssl-devel \
	readline readline-devel \
	sqlite-devel \
	xz \
	zlib zlib-devel
if ! command -v pyenv >&/dev/null; then
	rm -rf ~/.pyenv
	curl https://pyenv.run | bash
fi
sudo xbps-install -y \
	nodejs \
	rustup
# >>>

# Formatters <<<
sudo xbps-install -y \
	black
if ! command -v prettierd >&/dev/null; then
	sudo npm install -g @fsouza/prettierd
fi
# >>>

# Fonts and themes <<<
sudo xbps-install -y \
    nerd-fonts \
    gtk-engine-murrine \
    gnome-themes-extra
# >>>

# Eye candy <<<
sudo xbps-install -y \
	neofetch
#>>>


{{ else if eq .chezmoi.osRelease.id "arch" }} # TODO: Or Artix

# ━━━━━━━━━━━━━━━━━━━━━━━━━ ARCH PACKAGES ━━━━━━━━━━━━━━━━━━━━━━━━━

# Desktop Environment packages <<<
yay -S --noconfirm --needed \
    xorg \
	xclip \
	xdotool \
    xorg-xinit \
	picom-pijulius-git \
    bspwm \
    sxhkd \
    rofi \
    kitty \
    fish \
    feh \
	dunst \
	maim \
	eww
# >>>

# Useful GUI programs <<<
yay -S --noconfirm --needed \
    firefox \
    thunar \
	zathura zathura-cb zathura-djvu zathura-pdf-mupdf zathura-ps \
	spotify
# >>>

# Useful CLI programs <<<
yay -S --noconfirm --needed \
    curl \
    git \
    neovim \
    neovim-plug \
	up \
	bottom \
	exa \
	renameutils \
	entr \
	zoxide \
	fzf \
	bat \
	spicetify-cli \
	rbw \
	p7zip \
	jrnl \
	transmission \
	brightnessctl
# >>>

# Programming Languages <<<
yay -S --noconfirm --needed \
	ncurses5-compat-libs \
	pyenv \
	python-pip \
	nodejs \
	rustup
# >>>

# Formatters <<<
yay -S --noconfirm --needed \
	python-black \
	prettierd
# >>>

# Fonts and themes <<<
yay -S --noconfirm --needed \
    nerd-fonts-fira-code
# >>>

# Eye candy <<<
yay -S --noconfirm --needed \
	neofetch
#>>>

{{ end }}
