#!/bin/fish
# vim:filetype=fish:foldmethod=marker:fmr=<<<,>>>

# Permission addition <<<
{{ if eq .chezmoi.osRelease.id "void" }}

sudo chmod a+wr /usr/libexec/spotify/
sudo chmod a+wr /usr/libexec/spotify/Apps/ -R

{{ else if eq .chezmoi.osRelease.id "arch" }} # TODO: Or Artix

sudo chmod a+wr /opt/spotify/
sudo chmod a+wr /opt/spotify/Apps/ -R

{{ end }}
# >>>

spicetify config current_theme catppuccin-mocha
spicetify config color_scheme lavender
spicetify config inject_css 1 replace_colors 1 overwrite_assets 1
spicetify config extensions catppuccin-mocha.js
spicetify backup apply
