#!/bin/bash
# vim:filetype=bash:foldmethod=marker:fmr=<<<,>>>

{{ if eq .chezmoi.osRelease.id "void" }}

# ━━━━━━━━━━━━━━━━━━━━━━━━━ VOID PACKAGES ━━━━━━━━━━━━━━━━━━━━━━━━━

# Desktop Environment packages <<<
sudo xbps-install -y \
    xorg \
    bspwm \
    sxhkd \
    rofi \
    kitty \
    fish-shell \
    feh \
	dunst
# >>>

# Useful programs <<<
sudo xbps-install -y \
    firefox \
    Thunar \
	zathura zathura-cb zathura-djvu zathura-pdf-mupdf zathura-ps
# Build source packages conditionally, seperately
if not xbps-query spotify >&/dev/null; then
	$HOME/void-packages/xbps-src pkg spotify
	sudo xbps-install -y --repository=$HOME/void-packages/hostdir/binpkgs/nonfree spotify
fi
# >>>

# Useful CLI programs <<<
sudo xbps-install -y \
    curl \
    git \
    neovim \
	up \
	bottom \
	exa \
	renameutils \
	entr \
	zoxide \
	fzf \
	bat
#TODO: Add organize-rt, webtorrent? 
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
curl -fsSL https://raw.githubusercontent.com/spicetify/spicetify-cli/master/install.sh | sh
# >>>

# Programming Languages <<<
sudo xbps-install -y \
	base-devel \
	bzip2-devel \
	openssl openssl-devel \
	readline readline-devel \
	sqlite-devel \
	xz \
	zlib zlib-devel
curl https://pyenv.run | bash
# >>>

# Formatters <<<
sudo xbps-install -y \
	black
# >>>

# Fonts and themes <<<
sudo xbps-install -y \
    nerd-fonts \
    gtk-engine-murrine \
    gnome-themes-extra
# >>>

# Eye candy <<<
sudo xbps-install -y \
	neofetch
#>>>


{{ else if eq .chezmoi.osRelease.id "arch" }} # TODO: Or Artix

# ━━━━━━━━━━━━━━━━━━━━━━━━━ ARCH PACKAGES ━━━━━━━━━━━━━━━━━━━━━━━━━

# Desktop Environment packages <<<
yay -S --noconfirm --needed \
    xorg \
    xorg-xinit \
    bspwm \
    sxhkd \
    rofi \
    kitty \
    fish \
    feh \
	dunst
# >>>

# Useful GUI programs <<<
yay -S --noconfirm --needed \
    firefox \
    thunar \
	zathura zathura-cb zathura-djvu zathura-pdf-mupdf zathura-ps \
	spotify
# >>>

# Useful CLI programs <<<
yay -S --noconfirm --needed \
    curl \
    git \
    neovim \
    neovim-plug \
	up \
	bottom \
	exa \
	renameutils \
	entr \
	zoxide \
	fzf \
	bat \
	spicetify-cli
# >>>

# Programming Languages <<<
yay -S --noconfirm --needed \
	ncurses5-compat-libs \
	pyenv
# >>>

# Formatters <<<
yay -S --noconfirm --needed \
	python-black
# >>>

# Fonts and themes <<<
yay -S --noconfirm --needed \
    nerd-fonts-fira-code
# >>>

# Eye candy <<<
yay -S --noconfirm --needed \
	neofetch
#>>>

{{ end }}
