// vim:ft=scss
// Default values
@import "catppuccin";
$dpi-scale: {{.dpi_scale}};

* {
  all: unset;
  font-family: "FiraCode Nerd Font Mono";
  color: $text;
}

// Specific theming
@import "bar/bar.scss";
