// Default values
@import "catppuccin";
$dpi-scale: 2;

* {
  all: unset;
  font-family: "FiraCode Nerd Font Mono";
  // border: 1px solid $rosewater;
  background-color: $base;
  color: $text;
}

// Specific theming
@import "bar/bar.scss";
