#! /bin/sh
# vim:ft=sh

pgrep -x sxhkd > /dev/null || sxhkd &

bspc monitor -d 1 2 3 4 5 6 7 8 9 10

bspc config border_width         {{ mulf 2 .dpi_scale }}
bspc config window_gap           {{ mulf 30 .dpi_scale }}

bspc config focused_border_color "#B4BEFE"
bspc config active_border_color "#B4BEFE"
bspc config normal_border_color "#575268"
bspc config presel_border_color "#575268"

bspc config split_ratio          0.5
bspc config borderless_monocle   false
bspc config gapless_monocle      false

bspc rule -a Thunar state=floating follow=on
